*{
    padding: 21px;
    margin: 3px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: whitesmoke;
    display: grid;
    height: 100vh;
    place-items: center;
}
.main{
    width: 310px;
    height: 445px;
    background-color: grey;
    position: absolute;
    border: 5px solid black;
    border-radius: 16px;
}
.main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: center;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid black;
    display: flex;
    margin: auto;
    border-radius: 13px;
    color: black
}
.btn input[type='btn']{
    width: 90px;
    padding: 12px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #09775f;
    border-radius: 6px;
    color: white;

}
.btn input[type='btn']:hover{
    background-color: rgb(22, 2, 2);
    color: white;
}
